<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Managing {{team}} </title>
     <link rel="stylesheet" href="{{ url_for('static', filename='game.css')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <a href="#">Home</a>
    <a href="#">Lines</a>
    <a href="#">Trade</a>
    <a href="#">Rosters</a>
    <a href="#">Free Agents</a>
    <a href="#">Staff</a>
    <a href="#">Draft</a>
</div>
</body>
</html>