<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Roster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='roster.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('sidebar_home') }}">Home</a>
        <a href="{{ url_for('trades') }}">Trades</a>
        <a href="{{ url_for('rosters') }}">Rosters</a>

    </div>
    <div class="content">
        <h1>Team Roster</h1>
        <form method="get" action="{{ url_for('rosters') }}">
            <label for="team">Choose a team:</label>
            <select name="team" id="team" onchange="this.form.submit()">
                {% for team in teams %}
                    <option value="{{ team }}" {% if team == selected_team %}selected{% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
        </form>
       <h2>Forwards</h2>
            <table>
              <thead>
                <tr>
                  {% for col in forwards_columns %}
                  <th>{{ col }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for player in forwards %}
                <tr>
                  {% for stat in player %}
                  <td>{{ stat|commafy }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <h2>Defensemen</h2>
            <table>
              <thead>
                <tr>
                  {% for col in defensemen_columns %}
                  <th>{{ col }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for player in defensemen %}
                <tr>
                  {% for stat in player %}
                  <td>{{ stat|commafy }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <h2>Goalies</h2>
            <table>
              <thead>
                <tr>
                  {% for col in goalies_columns %}
                  <th>{{ col }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for player in goalies %}
                <tr>
                  {% for stat in player %}
                  <td>{{ stat|commafy }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
</body>
</html>
