<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Trades </title>
     <link rel="stylesheet" href="{{ url_for('static', filename='trades.css')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <a href="{{ url_for('sidebar_home') }}">Home</a>
    <a href="#">Lines</a>
    <a href="{{ url_for('trades') }}">Trades</a>
    <a href="{{ url_for('rosters') }}">Rosters</a>
    <a href="#">Free Agents</a>
    <a href="#">Staff</a>
    <a href="#">Draft</a>
</div>

<div class="content">
    <head>{{current_team}}</head>
    <form method ="post" action="{{ url_for('trades') }}">
        <table>
        <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
        <tr>
            <td>
            <input type="checkbox" name="team2_players" value="{{ player[col_indices['name']] }}">
            {{ player[col_indices['name']] }}
             </td>
            <td>{{ player[col_indices['potential']] }}</td>
            <td>{{ player[col_indices['age']] }}</td>
            <td>{{ player[col_indices['weight']] }}</td>
            <td>{{ player[col_indices['height']] }}</td>
            <td>{{ player[col_indices['position']] }}</td>
            <td>{{ player[col_indices['overall_rating']] }}</td>

             <td>
                {% set value = player_values[loop.index0][1] %}
                <div class="value-bar-container">
                    <div class="value-bar" style="width: {{ value }}px;"
                         data-value="{{ value }}"></div>
                </div>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

        <form method="get" action="{{ url_for('trades') }}">
            <label for="team">Choose a team:</label>
            <select name="team" id="team" onchange="this.form.submit()">
                {% for team in teams %}
                    <option value="{{ team }}" {% if team == selected_team %}selected{% endif %}>{{ team }}</option>
                {% endfor %}
            </select>
        </form>

    <head>{{selected_team}}</head>


    <table>
        <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for player in other_players %}
        <tr>
             <td>
            <input type="checkbox" name="team2_players" value="{{ player[col_indices['name']] }}">
            {{ player[col_indices['name']] }}
             </td>
            <td>{{ player[col_indices['potential']] }}</td>
            <td>{{ player[col_indices['age']] }}</td>
            <td>{{ player[col_indices['weight']] }}</td>
            <td>{{ player[col_indices['height']] }}</td>
            <td>{{ player[col_indices['position']] }}</td>
            <td>{{ player[col_indices['overall_rating']] }}</td>
            <td>
                {% set value = player_values[loop.index0][1] %}
                <div class="value-bar-container">
                    <div class="value-bar" style="width: {{ value }}px;"
                         data-value="{{ value }}"></div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </form>
</div>
</body>
</html>